.mention-tag {
  background-color: #d1e7ff !important;
  color: #007bff !important;
  padding: 2px 4px !important;
  border-radius: 4px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  display: inline-block !important;
}

.mention-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
}

.mention-item {
  padding: 8px;
  cursor: pointer;
}

.mention-item:hover {
  background: #f1f1f1;
}

.mention-class {
    background-color: #eaf5ff;
    color: #007bff;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
  }
  